#pro-pic{
    width: 15%;
    height: 15%;
    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 1%;
}

.inline{
    position: absolute;
}

body{
    background-color: #40e0d0;
}

.position-pages{
    margin-left: 24.5%;
    margin-top: -16%;
}

.row{
    margin-left: 0.1%;
}

html{
    scroll-behavior: ;
}